<% if flash[:notice] %>
	<div class="flash notice">
		<%= flash[:notice] %>
	</div>
<% end %>
<h3>Please log in below.</h3>
<form method="POST" action="/">
	<label for="username">Username</label>
	<input type="string" name ="username">
	<label for="password">Password</label>
	<input type="password" name="password">
	<button type="submit">Sign In</button>
</form>

<div>
	<p>Don't have an account?</p>
	<a href="/signup">Sign up!</a>
</div>