<% if flash[:notice] %>
	<h1 class="flash notice"></h1>
	<%= flash[:notice] %>
<% end %>
<h1><%= "Welcome, #{@user.username}" %></h1>
<form method="POST" action="/user">
	<input name="title" type="text" placeholder="Title">
	<textarea name="body" type="text" placeholder="Body"></textarea>
	<button type="submit" id="post_blog" >Post</button>
</form>

<a href="/logout" id="logout">Log Out</a>


<h2>Your Posts</h2>
<% @post.each do |post|	%>
	<div id="user_posts">
	<h3><%= post.title %></h3>
	<h4><%= post.body %></h4>
	</div>
<% end %>